.about-wrapper {
  height: 100%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;

  .about-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      color: #ede7f6;
      height: 100px;
    }

    .about-me {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 24px;
      color: #ede7f6;
      margin-top: -50px;
    }

    .language-list {
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      height: 75px;
      color: #ede7f6;
    }

    .resume {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 1.2em;
      color: #ede7f6;
      height: 50px;
      margin-top: 75px;
      transition: 0.5s ease-in-out;
      margin-bottom: 150px;

      &:hover {
        color: #0000ee;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;

    .about-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      margin-bottom: 57px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -76px;

    .about-content-wrapper {
      .title {
        font-size: 2.5em;
        margin-bottom: 75px;
      }

      .about-me {
        font-size: 1.25em;
      }

      .language-list {
        margin-bottom: 50px;
      }

      .resume {
        margin-top: 75px;
      }
    }
  }
}
