.contact-wrapper {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  margin-bottom: 150px;

  .contact-content-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #ede7f6;
    height: 90%;

    .contact-title {
      margin-top: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
    }

    .email {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      margin-top: -50px;

      .send {
        text-decoration: none;
        color: #ede7f6;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          color: rgba(150, 54, 227, 1);
        }
      }
    }

    .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      margin-top: -50px;

      .call {
        text-decoration: none;
        color: #ede7f6;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          color: rgba(150, 54, 227, 1);
        }
      }
    }

    .icon {
      margin-right: 25px;
    }
  }

  .map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    .map {
      height: 450px;
      width: 600px;
      margin-top: 50px;
      margin-bottom: -19px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .contact-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: -150px;

      .contact-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3em;
      }

      .email {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        margin-top: 60px;
      }

      .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        margin-top: 15px;
      }

      .icon {
        font-size: 16px;
        margin-right: 10px;
      }
    }

    .map-wrapper {
      .map {
        height: 406px;
        margin: 50px;
        margin-bottom: -75px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-content-wrapper {
      height: 100%;
      margin-top: 15px;
      margin-bottom: -50px;

      .contact-title {
        font-size: 2em;
      }

      .email {
        font-size: 1.75em;
      }

      .phone {
        font-size: 1.75em;
      }
    }

    .map-wrapper {
      .map {
        display: none;
      }
    }
  }
}
