.contact-wrapper {
  height: 81.12vh;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  overflow: hidden;

  .contact-content-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #ede7f6;
    height: 90%;

    .contact-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
    }

    .email {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;

      .send {
        text-decoration: none;
        color: #ede7f6;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          color: rgba(150, 54, 227, 1);
        }
      }
    }

    .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;

      .call {
        text-decoration: none;
        color: #ede7f6;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          color: rgba(150, 54, 227, 1);
        }
      }
    }

    .icon {
      margin-right: 25px;
    }
  }

  .map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .map {
      height: 700px;
      width: 700px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .contact-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .contact-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 24px;
      }

      .email {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
      }

      .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
      }

      .icon {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }
}
