.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2em;

    .github {
      cursor: pointer;
    }
  }
}
