body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  background: rgb(150, 54, 227);
  background: linear-gradient(
    300deg,
    rgba(150, 54, 227, 1) 2%,
    rgba(82, 44, 221, 1) 100%
  );
  background-repeat: no-repeat;
}

@import "./navbar.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./cube.scss";
@import "./projects.scss";
@import "./footer.scss";

@import "./responsive.scss";
