.project-wrapper {
  height: 81.12vh;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: auto;
  overflow: hidden;
  color: #ede7f6;
  margin-bottom: 1px;

  .project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    height: 75px;
  }

  .mapped-data {
    border: 5px solid rgba(150, 54, 227, 1);
    border-radius: 5px;
    padding: 10px;
    margin: 75px;

    .mapped-project-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      height: 25px;
    }

    .mapped-project-description {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 50px;
      font-size: 1.5em;
    }

    .github {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      transition: 0.5s ease-in-out;

      &:hover {
        color: rgba(150, 54, 227, 1);
      }
    }
  }

  .data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

@media only screen and (max-width: 820px) {
  .mapped-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mapped-project-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .project-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .project-title {
      height: 50px;
      margin-bottom: 150px;
      text-align: center;
    }

    .mapped-data {
      height: 150px;
    }

    .mapped-project-title {
      margin-bottom: 15px;
    }

    .github {
      margin-top: 15px;
    }

    .data-wrapper {
      display: grid;
      grid-template-rows: auto;
      margin-top: -100px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .project-wrapper {
    height: 100%;
    overflow: auto;

    .project-title {
      font-size: 1.5em;
      margin-bottom: 550px;
    }

    .data-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      margin-bottom: -150px;

      .mapped-data {
        height: 325px;
      }

      .mapped-project-title {
        margin-bottom: 25px;
      }

      .mapped-project-description {
        margin-top: 75px;
      }

      .github {
        margin-top: 80px;
      }
    }
  }
}
