.project-wrapper {
  height: 81.12vh;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: auto;
  overflow: hidden;
  color: #ede7f6;

  .project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    height: 75px;
  }

  .mapped-data {
    border: 5px solid rgba(150, 54, 227, 1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    .mapped-project-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      height: 25px;
    }

    .mapped-project-description {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 50px;
      font-size: 1.5em;
    }

    .github {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      transition: 0.5s ease-in-out;

      &:hover {
        color: rgba(150, 54, 227, 1);
      }
    }
  }

  .data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .mapped-data {
    display: grid;
    grid-template-rows: auto;
    height: 200px;

    .mapped-project-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .project-wrapper {
    overflow: scroll;

    .project-title {
      text-align: center;
    }

    .data-wrapper {
      display: grid;
      grid-template-rows: auto;
    }
  }
}
